@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

$bg-color: #2b2b2b;

#vanta-bg {
  z-index: -1;
}

.login-page-title-links {
  position: absolute;
  z-index: 2;
  font-family: "Indie Flower", cursive;
  color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  h1,
  h3,
  h4 {
    margin: 0;
  }

  a {
    color: rgb(96, 120, 255);
    z-index: inherit;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      opacity: 0.5;
    }
  }
}

.login-page-title {
  display: flex;
  align-items: center;

  img {
    height: 40px;
  }
}

.login-page {
  position: absolute;
  z-index: 1;
  font-family: "Indie Flower", cursive;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39, 39, 39);

  &__google {
    z-index: inherit;
    width: 340px;
    height: 130px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 32px;
      margin: 2px 0 0 0;
      color: $bg-color;
    }

    &:hover {
      box-shadow: 2px 5px rgba(0, 0, 0, 0.2);

      button {
        span {
          color: rgb(80, 163, 80);
        }
      }

      p {
        color: rgba(255, 72, 0, 0.774);
      }
    }

    button {
      height: 50px;
      width: 100%;
      justify-content: center;

      div {
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
      }

      &:hover {
        border: 1px dashed rgba(255, 72, 0, 0.774) !important;
      }
      span {
        font-size: 25px;
        font-weight: 600 !important;
        color: rgb(93, 93, 93);
      }
    }
  }
}
