//Colours
$main-colour: #dd7e47;
$secondary-colour: rgb(236, 236, 236);
$main-text-colour: #3e5869;
$grey-text: #cacaca;
$button-green: rgb(90, 160, 90);
$link-colour: #6078ff;

.rc-button {
  background: $button-green;
  color: white;
  border-style: none;
  align-self: center;
  font-weight: bold;
  border: 0;
  cursor: pointer;

  &:focus {
    outline-width: 0;
  }
}

input {
  outline: 0;
  border: 0;
  caret-color: $main-colour;

  &:focus {
    outline-width: 0;
  }
}

a {
  color: $link-colour;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    opacity: 0.5;
  }
}
