//Colours
$main-colour: #dd7e47;
$secondary-colour: rgb(236, 236, 236);
$main-text-colour: #3e5869;
$grey-text: #cacaca;

.rc-button {
    background: rgb(90, 160, 90);
    color: white;
    border-radius: 5px;
    border-style: none;
    align-self: center;
    font-weight: bold;
  }