@import "../../styles/standard.scss";

.message-container {
  display: flex;
  align-items: flex-start;
  margin: 0 5px;

  .user-icon {
    height: 44px;
    margin-top: 16px;
    border-radius: 12px;
  }
}

.message {
  margin: 15px 6px;
  position: relative;

  .user-card {
    display: none;
  }

  &__username:focus + div.user-card {
    display: block;
  }

  &__username {
    font-size: 14px;
    margin-bottom: 6px;
  }

  &__text {
    font-size: 16px;
    color: $main-text-colour;
    font-weight: 500;
  }
}
